---
# Configure clang-tidy for this project.

Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-deprecated-headers,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
