---
# Configure clang-tidy for this project.

Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-deprecated-headers,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,

CheckOptions:
  # https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
  - key:             readability-identifier-naming.ClassCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.MethodCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
