# vim: set ft=yaml:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# To disable for a line use `// clang-format off`
BasedOnStyle: Google # https://google.github.io/styleguide/cppguide.html
ColumnLimit: 80
IndentPPDirectives: BeforeHash

